
  <%= simple_form_for(@summary, :html => { :onsubmit => "loading()" }) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs import-input">
      <%= f.input :article_url, placeholder: "Paste your article url here" %>
    </div>
    <div class="import-bottom">
      <div class="form-actions import-btn">
        <%= f.button :submit, "Digest" %>
      </div>
      <div id="loader">
      </div>
    </div>
  <% end %>

  <script type="text/javascript">

    loading = () => {
    const container = document.getElementById("loader");

    container.innerHTML = "<img src='https://image.noelshack.com/fichiers/2019/51/4/1576738253-spin-2.gif'>"
    }

  </script>




