
  <%= simple_form_for(@summary, :html => { :onsubmit => "loading()" }) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs import-input">
      <%= f.input :article_url, placeholder: "Paste your article url here" %>
    </div>

    <div class="form-actions import-btn">
      <%= f.button :submit %>
    </div>
  <% end %>

  <script type="text/javascript">

    loading = () => {
    const container = document.getElementById("loader");

    container.innerHTML = "<img src='https://image.noelshack.com/fichiers/2019/51/1/1576471668-spin-hundun.gif'>"
    }

  </script>




