
<div class="dashboard">

  <div class="dashboard-title">
    <h1>My Digests</h1>
  </div>

  <div class="category" id="cat-tag">
    <% category_list = ['Business', 'Culture', 'Economics', 'Education', 'Environment', 'Politics', 'Society', 'Science', 'Technology'] %>
    <% category_list.each do |cat| %>
      <%= link_to cat, tagged_path(tag: cat), class:"btn btn-outline-dark" %>
    <% end %>
  </div>

  <div class="dashboard-container">
  <% @user.summaries.order(id: :desc).each do |summary| %>
    <div class="dashboard-card">
      <div class="dashboard-tag">
        <p><% summary.category_list.each do |tag| %>
          <%= link_to tag, tagged_path(tag: tag) %>
        <% end %></p>
      </div>
      <div class="dashboard-text">
        <h3><%= link_to summary.title, summary %></h3>
        <p><%= summary.digest %></p>
        <div class="ellipsis">
          <p><%=link_to "...", summary %></p>
        </div>
      </div>
        <div class="dashboard-site-name">
          <p><i class="far fa-newspaper"></i> <%= summary.site_name %></p>
        </div>
      <div class="stick-bottom">
        <div class="dashboard-links">
          <p><%= link_to 'Delete', summary, method: :delete, data: { confirm: 'Are you sure to delete it from your dashboard?' } %></p>
        </div>
      </div>
    </div>
      <% end %>
  </div>

    <br>
  <div class="dashboard-import">
    <%= link_to 'Import another article', new_summary_path %>
  </div>
</div>

<!-- <script>
  const catTags = document.querySelectorAll('#cat-tag p')

  catTags.forEach((cat) => {

    cat.addEventListener('click', (event) => {
      // 获取节点，判断是否有class；有，加tag；没有，移除tag


    // console.log(event.target["innerText"])
    fetch(`http://localhost:3000/tagged.json?tag=${event.target["innerText"]}`)
      .then(response => response.json())
      .then((data) => {
        console.log(data)
        const tags = data.length
            document.querySelectorAll('.dashboard-card').forEach((e) => {
              e.remove()
            })
            data.forEach((ele) => {
              document.querySelector('.dashboard-container').insertAdjacentHTML(
               "beforeend",
               '<div class="dashboard-card"><div class="dashboard-tag"><p><a href="/tagged?tag='+event.target["innerText"]+'">'+ele.category_list+'</a></p></div><div class="dashboard-text"><h3><a href="/summaries/10">'+ ele.title+'</a></h3><p>'+ ele.digest+'</p><div class="ellipsis"><p><a href="/summaries/10">...</a></p></div></div><div class="dashboard-site-name"><p><i class="far fa-newspaper"></i> Fox News</p></div><div class="stick-bottom"><div class="dashboard-links"><p><a data-confirm="Are you sure to delete it from your dashboard?" rel="nofollow" data-method="delete" href="/summaries/10">Delete</a></p></div></div></div>');
            })

        })
      })
    })

</script>
 -->


<!-- <script>
  $.ajax({
    type: "POST",
    url: "http://localhost:3000/summaries",
    data: { id1: id, comment1: comment },
    success: function(data) {
        $("#feedback").html(data);
        $('#feedback').fadeIn('slow', function() {
            $('#feedback').fadeOut(4000);
            window.location = "comment.php";
        }
 });
</script> -->

