
<div class="summarized-container">
  <div class="summarized-title">
    <p>
      <h1><strong><%= @summary.title %></strong></h1>
    </p>
  </div>

  <div class="summarized-text">
    <p><%= @summary.digest %></p>
  </div>

  <img src="<%= @summary.image %>" alt="banner image">

</div>


<div class="related-sum-container">

<h3>Other users also read those articles...</h3>
  <div class="related-sum-articles">
    <p><% @related_summaries.each do |r| %>
      <%= link_to r.title, summary_path(id: r.id) %>
      <br>
    <% end %></p>
  </div>
</div>

<%= render 'tags', summary: @summary %>

<div class="related-sum-links">
  <%= link_to 'Back to Dashboard', summaries_path(@summary) %>
  <%= link_to 'Back', summaries_path %>
</div>

<%= select_tag "timezone", options_from_collection_for_select(
      ActiveSupport::TimeZone.all.
        map { |tz| tz.tzinfo }.
        sort_by { |tzinfo| tzinfo.name },
      :name, :name),
      class: 'select2' %>
