<body>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @summary.title %>
</p>

<p id="url">
  <strong>Url:</strong>
  <%= @summary.article_url %>
</p>

<p>
  <strong >Text:</strong>
  <%= @summary.text %>
</p>

<h1><%= @summary.title %></h1>

<h3>Related Summries</h3>

<ul>
  <% @related_summaries.each do |r| %>
    <li><%= r.title %></li>
    <li><%= r.text %></li>
  <% end %>
</ul>

<%= render 'tags', summary: @summary %>
<%= link_to 'Save to Dashboard', summaries_path(@summary) %>
<%= link_to 'Back', summaries_path %>
<%= javascript_include_tag "application" %> <!-- from app/assets/javascripts/application.js -->
<%= javascript_pack_tag "application" %>    <!-- from app/javascript/packs/application.js -->
</body>

<!--   <script type="text/javascript">


  const api_url = 'https://api.diffbot.com/v3/article?token=606d0b61d6cf355ed6024deabc955e33&url=<%=@summary.article_url%>';

  fetch(api_url).then(data => {
    // Work with your JSON data here..
    console.log(data["object"][0]["text"]);
  }).catch(err => {
    // What do when the request fails
    console.log('The request failed!');
  });

  </script> -->

<!-- <script src="js/script.js"></script> -->

