
  <div class="summarized-title">
    <p>
      <h1><strong><%= @summary.title %></strong></h1>
    </p>
  </div>

  <div class="summarized-text">
    <p><%= @summary.digest %></p>
  </div>



<div class="summarized-img">
  <img src="<%= @summary.image %>" alt="banner image">
</div>

<div class="related-sum-container">
<h3>Other users also read those articles...</h3>
  <p class = "tag" style="text-align: center; font-family:'Zilla Slab';">Find more about: <strong><% @summary.category_list.each do |tag| %>
    <%= link_to tag, tagged_path(tag: tag) %></strong>
  <% end %></p>
  <div class="related-sum-articles">
    <p><% @related_summaries.each do |r| %>
      <%= link_to r.title, summary_path(id: r.id) %>
      <br>
    <% end %></p>
  </div>
</div>

<%= render 'tags', summary: @summary %>

<div class="related-sum-links">
  <%= link_to 'Go to Dashboard', summaries_path(@summary) %>
  <%= link_to 'Back', new_summary_path %>
</div>
