<div class="summarized-title">
  <h1><strong><%= @summary.title %></strong></h1>
</div>

<div class="summarized-sitename">
  <p><%= @summary.site_name %></p>
</div>

<div class="summarized-datee">
  <p><%= @summary.publish_date %></p>
</div>

<div class="shareSocial">
  Share
  <a title="Share on facebook" class="facebook" target="_blank" onclick="return fbs_click()" href="http://www.facebook.com/share.php?u=https://#" rel="nofollow"><i class="fab fa-facebook-f"></i></a>
  <a class="twitter" title="Share on twitter" target="_blank" data-lang="en" data-via="your_screen_name" data-url="https://#" href="#"><i class="fab fa-twitter"></i></a>
  <a class="email" title="Share by e-mail" href="mailto:?subject=Tool: Hundun(Digest articles quickly)&amp;body=Hundun Digest, by students%0A
  from Le wagon%0A
  https://#"><i class="far fa-envelope"></i></a>
</div>


<div class="summarized-text">
  <p><%= @summary.digest %></p>
</div>

<div class="summarized-img">
  <!-- <img src="assets/elcarito-MHNjEBeLTgw-unsplash.jpg"> -->
  <img src="<%= @summary.image %>" alt="banner image">
</div>

<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/plugins/wordCloud.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/moonrisekingdom.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>


  <!-- Put Chart Div in bg-img -->
  <!-- Make bg-img full width and give it a height -->
  <!-- Make bg-img display: flex; justify-content: center; align-items: center; -->
  <!-- Make bg-img background: url('your-url-here'); -->


<div class="bg-img" style="background: url('https://images.unsplash.com/photo-1536514498073-50e69d39c6cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80');">
  <div id="chartdiv">
    <script>
      // Themes begin
      am4core.useTheme(am4themes_animated);

      // Themes end
      var chart = am4core.create("chartdiv", am4plugins_wordCloud.WordCloud);
      chart.fontFamily = "Lato";
      var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
      series.randomness = 0;
      series.rotationThreshold = 0.5;

      series.data = <%= raw @summary.tag_cloud %>;

      series.dataFields.word = "label";
      series.dataFields.value = "count";

      series.heatRules.push({
       "target": series.labels.template,
       "property": "fill",
       "min": am4core.color("#4f8fc6"),
       "max": am4core.color("#354d62"),
       "dataField": "value"
      });

      series.labels.template.url = "https://en.wikipedia.org/wiki/{word}";
      series.labels.template.urlTarget = "_blank";
      series.labels.template.tooltipText = "{word}: {value}";

      var hoverState = series.labels.template.states.create("hover");
      hoverState.properties.fill = am4core.color("#FC7978");

      var subtitle = chart.titles.create();
      subtitle.text = "(Click to open Wikipedia)";

      var title = chart.titles.create();
      title.text = "Most Popular Tags From Your Article";
      title.fontSize = 20;
      title.fontWeight = "800";
      title.color= am4core.color("#FC7978");
    </script>
  </div>
</div>

<div class="related-sum-container">
<h3>Other users also read those articles</h3>

  <div class="related-sum-articles">
      <% @related_summaries.each do |r| %>
        <p><%= link_to r.title, summary_path(id: r.id) %></p>
      <% end %>
  </div>
  <br>
  <p class = "tag" style="text-align: center; font-family: 'Lato'; font-size: 20px;">
    Find more about...<% @summary.category_list.each do |tag| %>
      <strong><%= link_to tag, tagged_path(tag: tag) %></strong>
    <% end %>
  </p>
</div>

<%= render 'tags', summary: @summary %>

<div class="related-sum-links">
  <%= link_to 'Go to Dashboard', summaries_path(@summary) %>
  <%= link_to 'Back', new_summary_path %>
</div>
