<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @summary.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @summary.text %>
</p>

<p>
  <strong>Url:</strong>
  <%= @summary.article_url %>
</p>

<%= button_to 'Save to Dashboard', summaries_path(@summary) %> |
<%= link_to 'Back', summaries_path %>
