

<div class="summarized-container">

  <div class="summarized-title">
    <p>
      <h1><strong><%= @summary.title %></strong></h1>
    </p>
  </div>

  <div class="summarized-text">
    <p><%= @summary.digest %></p>
  </div>


</div>

<div class="related-sum-container">

<h3>Other users also read those articles....</h3>
  <div class="related-sum-articles">
    <p><% @related_summaries.each do |r| %>
      <%= link_to r.title, summary_path %>
      <br>
    <% end %></p>
  </div>
</div>

  <%= render 'tags', summary: @summary %>

<div class="related-sum-links">
  <%= link_to 'Save to Dashboard', summaries_path(@summary) %>
  <%= link_to 'Back', summaries_path %>
</div>

