<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @summary.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @summary.text %>
</p>

<p>
  <strong>Url:</strong>
  <%= @summary.article_url %>
</p>

<h1><%= @summary.title %></h1>

<h3>Related Summries</h3>
<ul>
  <% @related_summaries.each do |r| %>
    <li><%= r.title %></li>
    <li><%= r.text %></li>
  <% end %>
</ul>

<%= link_to 'Save to Dashboard', summaries_path(@summary) %> |
<%= link_to 'Back', summaries_path %>

