
<div class="tagged">
  <div class="tagged-title">
    <h1>#<%= params[:tag]%></h1>
  </div>

  <div class="tagged-container">

    <% @summaries.each do |summary| %>
    <div class="tagged-card">
      <div class="tagged-tag">
        <p><% summary.category_list.each do |tag| %>
        <%= link_to tag, tagged_path(tag: tag) %>
      <% end %></p>
      </div>
      <div class="tagged-text">
        <h3><%= link_to summary.title, summary %></h3>
        <p><%= summary.digest %></p>
        <div class="ellipsis">
          <p>...</p>
        </div>
      </div>
        <div class="tagged-site-name">
          <p><i class="far fa-newspaper"></i> CNN</p>
        </div>
        <div class="stick-bottom">
        <div class="tagged-delete">
          <p><%= link_to 'Delete', summary, method: :delete, data: { confirm: 'Are you sure to delete it from your dashboard?' } %></p>
        </div>
      </div>
    </div>
    <% end %>

  </div>
  <div class="tagged-links">
    <%= link_to "Go Back to all Summaries", summaries_path %>
  </div>

</div>
